* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(90deg, #d8f3dc, #b7e4c7, #95d5b2, #74c69d, #52b788);
}

#first-line {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 44px;
    color: black;
    background-color: #e6f7ff;
    border: 1px solid white;
    border-radius: 5px;
    width: 20%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10%;
    padding: 10px 40px 10px 40px;
}
#mainbody {
border: 1px solid black;
display: flex;
flex-direction: column;
align-items: center;
background-color: #e6f7ff;
}
.radiobut {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%; 
}

    #submit-button:hover {
    color: red;
    }

    #clear-button:hover {
        color:red
    }

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.full-name {
    margin-top: 5%;
    margin-bottom: 5%;
}

.emailbox {
    margin-top: 2%;
    margin-bottom: 5%;
}

.phonenum {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 10px;
}

.message-part {
    margin-top: 2%;
    margin-bottom: 5%;
}
   
