* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(90deg, #d8f3dc, #b7e4c7, #95d5b2, #74c69d, #52b788);
}

#first-line {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 44px;
    color: black;
    background-color: #e6f7ff;
    border: 1px solid white;
    border-radius: 5px;
    width: 15%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#mainbody {
border: 1px solid black;
display: flex;
flex-direction: column;
align-items: center;
background-color: #e6f7ff;
}
.radiobut {
    display: flex; }

